.active {
  border: 1px solid #3d3d3d;
  padding: 3px;
  border-radius: 3px;
}

.default {
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 3px;
}
.sp-active {
  background-color: #d7d7d7;
}

.space-ex span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px;
}

.ls-10 {
  letter-spacing: 10px;
}

.ls-5 {
  letter-spacing: 5px;
}
.ls-3 {
  letter-spacing: 3px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-0 {
  letter-spacing: normal;
}

.fs-10 {
  font-size: 10px;
}

#placeholder {
  .selectedPattern {
    top: 60px;
    left: 140px;
  }
}

.border-yellow {
  border: 1px solid #1e1e1e;
}

.scrollable {
  width: 100%;
  overflow-x: auto;
}

.click-on {
  position: absolute;
  font-size: 8px;
  color: #5e5e5e;
  width: 80px;
  border: 1px dashed #2e2e2e;
  padding: 10px;
  right: 0;
  top: 0;
}

#placeholder,
#tshirt {
  .pi {
    font-size: 16px !important;
    margin-left: 25px;
  }
}

.boundary-container {
  width: 100%;
  height: 500px;
  border: 2px dashed #ccc;
  position: relative;
  margin: 20px 0;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  height: 100%;
}

.print-hd,
.print-ts,
.print-md,
.print-bt,
.print-sr,
.print-mp,
.print-cp {
  position: absolute;
  color: #fff;
  top: 130px;
  left: 150px;
  max-width: 90px;
  border: 3px solid #ffff;
  padding: 10px;
  text-align: center;
  opacity: 0.3;
}
.print-ts {
  top: 80px;
  left: 155px;
}
.print-md,
.print-bt,
.print-sr,
.print-mp {
  top: 150px;
  left: 115px;
  border: 3px solid #000;
  color: #000;
}
.print-bt {
  top: 165px;
  left: 145px;
}
.print-sr {
  top: 120px;
  left: 20px;
  max-width: 60px;
  font-size: 12px;
}
.print-mp {
  top: 205px;
  left: 190px;
  opacity: 0.3;
}
.print-cp {
  top: 60px;
  left: 270px;
  font-size: 12px;
  width: 70px;
}

.grid-center {
  display: grid;
  justify-content: center;
}

.mask {
  position: relative;
  width: 195px;
  display: block;
  img {
    border: none;
    display: block;
    position: absolute;
    top: 40px;
    left: calc(100% - 577px);
    z-index: 9;
    height: 240px;
    display: block;
    border: none !important;
    -webkit-mask-size: auto;
    mask-size: 36%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  &.mug img {
    -webkit-mask-image: url("../../../../../assets/img/mug/mask_left.png"); /* Use the mask image */
    mask-image: url("../../../../../assets/img/mug/mask_left.png"); /* Standard syntax */
  }
  &.bottle {
    img {
      top: 89px !important;
      width: 100%;
      left: calc(100% - 236px) !important;
      mask-size: 115px !important;
      -webkit-mask-image: url("../../../../../assets/img/bottle/mask1.png"); /* Use the mask image */
      mask-image: url("../../../../../assets/img/bottle/mask1.png"); /* Standard syntax */
    }
  }
  &.mp {
    width: 279px !important;
    img {
      top: 7px !important;
      width: 100%;
      left: calc(100% - 274px) !important;
      mask-size: 100% !important;
      height: 319px !important;
      -webkit-mask-image: url("../../../../../assets/img/mousepad/mask2.png"); /* Use the mask image */
      mask-image: url("../../../../../assets/img/mousepad/mask2.png"); /* Standard syntax */
    }
  }
}

.mask.mug + img,
.mask.bottle + img,
.mask.mp + img {
  position: relative;
  top: 0;
}

.right-view {
  width: 219px;
}

.center-view {
  width: 219px;
  .mask.mug {
    width: 205px;
    img {
      mask-position: center;
      mask-size: 35%;
      left: calc(100% - 397px);
      -webkit-mask-image: url("../../../../../assets/img/mug/mask_center.png"); /* Use the mask image */
      mask-image: url("../../../../../assets/img/mug/mask_center.png"); /* Standard syntax */
    }
  }
  .mask.bottle {
    img {
      top: 89px !important;
      left: calc(100% - 183px) !important;
      mask-position: center;
      mask-size: 35%;
    }
  }
}

.left-view {
  width: 313px;
  .mask.mug img {
    mask-position: left;
    left: calc(100% - 105px);
    rotate: -0.4deg;
  }
  .mask.bottle {
    img {
      top: 70px;
      left: calc(100% - 84px) !important;
      mask-position: left;
      mask-size: 35%;
    }
  }
}

input[type="file"] {
  display: none;
}
.cropped {
  position: absolute;
  right: 0;
  opacity: 0.2;
  left: 0;
  z-index: -1;
  img {
    width: 100%;
  }
}

.file-input-container input[type="file"] {
  display: none;
}

/* Style the label to look like a button */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  border-color: #22c55e;
  background-color: #22c55e;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

/* Add hover effect */
.custom-file-upload:hover {
  border-color: #2dcf69;
  background-color: #2dcf69;
}
.cropper-wrapper {
  height: 400px;
}
