.active {
  border: 1px solid #d7d7d7;
  padding: 3px;
  border-radius: 3px;
}
.sp-active {
  background-color: #d7d7d7;
}

.space-ex span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px;
}

.ls-10 {
  letter-spacing: 10px;
}

.ls-5 {
  letter-spacing: 5px;
}
.ls-3 {
  letter-spacing: 3px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-0 {
  letter-spacing: normal;
}

.fs-10 {
  font-size: 10px;
}
