<div class="contact-us container wrap">
  <!-- Header Section -->
  <header class="contact-header">
    <h1>Contact Us</h1>
    <p>
      We'd love to hear from you! Get in touch with us for any inquiries or
      support.
    </p>
  </header>

  <!-- Contact Form Section -->
  <!-- <section class="contact-form">
    <h2>Whatsapp</h2>
    <<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" [(ngModel)]="contact.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="contact.email" required>
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" [(ngModel)]="contact.message" rows="4" required></textarea>
        </div>
        <button type="submit" [disabled]="!contactForm.form.valid">Send</button>
      </form> 
  </section> -->

  <!-- Contact Information Section -->
  <div><img src="../../../assets/img/contact.jpg" width="100%" /></div>
  <section class="contact-info">
    <ul>
      <li>
        <strong>Email:</strong>
        <a href="mailto:mmcrazhr@gmail.com" style="color: #e8a722"
          >info&#64;mmcraz.com</a
        >
      </li>
      <li><strong>Phone:</strong> +91 9566221663</li>
      <li>
        <strong>Address:</strong> mmcraz, Sipcot Industrial Area Phase 1, Hosur,
        Tamilnadu
      </li>
      <!--<li><strong>Follow Us:</strong></li>
    <li>
        <a href="https://facebook.com/mmcraz" target="_blank"
          ><i class="pi pi-facebook"></i> Facebook</a
        >
        <a href="https://twitter.com/mmcraz" target="_blank"
          ><i class="pi pi-twitter"></i> Twitter</a
        >
        <a href="https://instagram.com/mmcraz" target="_blank"
          ><i class="pi pi-instagram"></i> Instagram</a
        >
      </li> -->
    </ul>
  </section>
</div>
