@font-face {
  font-family: "creattion"; /* Name your custom font family */
  src: url("../fonts/Creattion.otf"), url("../fonts/Creattion.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}

@font-face {
  font-family: "honey"; /* Name your custom font family */
  src: url("../fonts/Honey.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}
@font-face {
  font-family: "rooster"; /* Name your custom font family */
  src: url("../fonts/ROOSTER.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}
@font-face {
  font-family: "RUSTED"; /* Name your custom font family */
  src: url("../fonts/RUSTED.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}
@font-face {
  font-family: "Beadwork"; /* Name your custom font family */
  src: url("../fonts/Beadwork.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}
@font-face {
  font-family: "backtoschool"; /* Name your custom font family */
  src: url("../fonts/backtoschool.ttf");
  font-weight: normal; /* Font weight (normal or bold) */
  font-style: normal; /* Font style (normal, italic, or oblique) */
}
