<header class="header">
  <div class="logo">
    <h2 style="margin: 0">mmcraz</h2>
  </div>
  <div
    class="block flex gap-2 text-color-secondary"
    *ngIf="!authService.isLoggedInObser()"
  >
    <a
      href="javascript:void(0)"
      class="text-xs no-underline p-3"
      (click)="gotoGallery()"
      >Gallery</a
    >
    <a
      href="javascript:void(0)"
      class="text-xs no-underline p-3"
      (click)="gotoHome()"
      >Home</a
    >
    <p-button label="Login" [outlined]="true" (click)="signIn()"></p-button>
  </div>
  <div
    class="col-6 text-right justify-content-center align-items-center"
    *ngIf="authService.isLoggedInObser()"
  >
    <div class="flex justify-content-end align-items-center">
      <a
        href="javascript:void(0)"
        class="text-xs no-underline p-3"
        (click)="gotoGallery()"
        >Gallery</a
      >
      <a
        href="javascript:void(0)"
        class="text-xs no-underline p-3"
        (click)="gotoHome()"
        >Home</a
      >

      <div class="flex" (click)="op.toggle($event)">
        <span class="gg-profile"></span>
        <strong class="user-name">{{ userInfo.firstName }} </strong>
        <i class="pi pi-angle-down text-color-secondary mt-1 ml-2"></i>
      </div>
    </div>
    <div></div>
  </div>
</header>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <div class="profile">
      <span (click)="viewOrders()" class="text-xs mr-4 cursor-pointer"
        >Your Orders</span
      >
      <span (click)="signOut()" class="text-xs cursor-pointer">Sign Out</span>
      <hr />
      <div
        (click)="dashboard()"
        class="text-xs mr-4 cursor-pointer text-center"
      >
        Dashboard
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
