.header {
  background: rgba(0, 0, 0, .8);
  min-height: 69px;
  box-shadow: 0 0 8px #0e0e0e;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    color: #092436;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
  
    font-size: 0.875rem;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  

  .gg-profile,
  .gg-profile::after,
  .gg-profile::before {
   display: block;
   box-sizing: border-box;
   border: 2px solid;
   border-radius: 100px
  }
  
  .gg-profile {
   overflow: hidden;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   position: relative
  }
  
  .gg-profile::after,
  .gg-profile::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 5px;
   width: 8px;
   height: 8px
  }
  
  .gg-profile::after {
   border-radius: 200px;
   top: 11px;
   left: 0px;
   width: 18px;
   height: 18px
  } 