<div class="mt-4 mb-4 bg-wrap p-4" *ngIf="orderList">
  <p-table
    [value]="orderList"
    [paginator]="true"
    [rows]="20"
    dataKey="_id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="userId">Id <p-sortIcon field="userId" /></th>
        <th pSortableColumn="product">Type <p-sortIcon field="product" /></th>
        <th pSortableColumn="pcolor">Color <p-sortIcon field="pcolor" /></th>
        <th pSortableColumn="pattern">
          Pattern <p-sortIcon field="pattern" />
        </th>
        <th pSortableColumn="size">Size <p-sortIcon field="size" /></th>
        <th pSortableColumn="quantity">Quantity <p-sortIcon field="size" /></th>
        <th pSortableColumn="settings">
          Settings <p-sortIcon field="settings" />
        </th>
        <th pSortableColumn="text1">Text1 <p-sortIcon field="text1" /></th>
        <th pSortableColumn="text2">Text2 <p-sortIcon field="text2" /></th>
        <th pSortableColumn="status">status <p-sortIcon field="status" /></th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="userId"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter type="text" field="type" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter type="text" field="model" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="pattern"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter type="text" field="size" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="quantity"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter type="text" field="space" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter type="text" field="fsize" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter type="text" field="text" [showClearButton]="false" />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="status"
            [showClearButton]="false"
          />
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-order
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="order">
        <td>
          <a href="javascript:void(0)" (click)="viewUser(order)">
            {{ order.userId }}</a
          >
        </td>
        <td>{{ order.product }}</td>
        <td>{{ order.pcolor }}</td>
        <td>{{ order.pattern }}</td>
        <td>{{ order.size }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.settings | json }}</td>
        <td>{{ order.text1 }}</td>
        <td>{{ order.text2 }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="status"
                appendTo="body"
                [(ngModel)]="order.status"
                [style]="{ width: '100%' }"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ order.status }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(order)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(order)"
              class="p-button-rounded p-button-text p-button-primary mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(order, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="deletedProduct(order, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage"> No Order Found </ng-template>
  </p-table>
</div>

<p-dialog
  header="Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <div class="">
    <div class="col-12 grid">
      @if(userInfo) {
      <div class="col-4">
        <div><strong>First Name </strong></div>
        {{ userInfo.firstName }}
      </div>
      <div class="col-4">
        <div><strong>Last Name </strong></div>
        {{ userInfo.lastName }}
      </div>
      <div class="col-4">
        <div><strong>Email </strong></div>
        {{ userInfo.email }}
      </div>
      <div class="col-4">
        <div><strong>Passcode </strong></div>
        {{ userInfo.password }}
      </div>
      <div class="col-4">
        <div><strong>Phone </strong></div>
        {{ userInfo.phone }}
      </div>

      }
    </div>
  </div>
</p-dialog>
