<div class="about-us container wrap">
  <!-- Header Section -->
  <header class="about-header">
    <h1>About Us</h1>
    <p>Bringing Your Personal Style to Life</p>
  </header>

  <!-- Our Story Section -->
  <section class="our-story">
    <p>
      We believe that your clothing and gifts should be as unique as you are.
      Founded with the mission to provide high-quality, customized apparel and
      gifts, we take pride in offering a range of products that reflect your
      personal style.
    </p>
    <p>
      From tailored blazers that make a statement to cozy hoodies and trendy
      T-shirts, we are committed to delivering top-notch customization to meet
      your needs. Our team is passionate about creating personalized products
      that add a special touch to any occasion.
    </p>
  </section>

  <!-- Our Services Section -->
  <section class="our-services">
    <h2>Our Services</h2>
    <div class="services">
      <div class="service">
        <img
          src="../../../assets/img/ads/blazer.jpeg"
          alt="Customized Blazers"
        />
        <h3>Customized <br />Blazers</h3>
        <p>
          Elevate your style with our bespoke blazers, tailored to fit perfectly
          and designed to impress.
        </p>
      </div>
      <div class="service">
        <img
          src="../../../assets/img/ads/hoodie.jpeg"
          alt="Customized Hoodies"
        />
        <h3>Customized <br />Hoodies</h3>
        <p>
          Stay cozy and stylish with our personalized hoodies, perfect for
          casual wear and relaxed moments.
        </p>
      </div>
      <div class="service">
        <img
          src="../../../assets/img/ads/tshirt.jpeg"
          alt="Customized T-shirts"
        />
        <h3>Customized <br />T-shirts</h3>
        <p>
          Express yourself with our range of customizable T-shirts, available in
          various styles and colors.
        </p>
      </div>
      <div class="service">
        <img src="../../../assets/img/ads/mug_g.jpeg" alt="Customized Gifts" />
        <h3>Customized <br />Gifts</h3>
        <p>
          Find the perfect gift with our personalized options, ideal for any
          special occasion or celebration.
        </p>
      </div>
    </div>
  </section>

  <!-- Why Choose Us Section -->
  <!-- <section class="why-choose-us">
    <h2>Why Choose Us</h2>
    <ul>
      <li>High-Quality Materials</li>
      <li>Expert Craftsmanship</li>
      <li>Personalized Touch</li>
      <li>Fast and Reliable Service</li>
    </ul>
  </section> -->

  <!-- Contact Us Section -->
  <section class="contact-us">
    <h2>Get in Touch</h2>
    <p>
      If you have any questions or need assistance with your order, feel free to
      <a href="/app/contact-us">contact us</a>. We’re here to help and ensure
      your experience with MMCraz is exceptional.
    </p>
  </section>
</div>
