<app-header></app-header> <router-outlet /><p-toast></p-toast>
<app-footer></app-footer>
<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>

<div class="loader-wrap" *ngIf="loaderService.isLoading$ | async">
  <span class="loader"></span>
</div>

<a
  href="https://wa.me/9566221663?text='Hello mmcraz'"
  target="_blank"
  class="wa animate__animated animate__bounceIn animate__slower animate__infinite"
>
  <span class="text-xs p-white">Help</span>
  <span class="icon"></span>
</a>
