<div class="grid m-0" *ngIf="!orderPlaced">
  <div class="col-12 md:col-6">
    <div
      class="flex flex-column justify-content-center align-items-center mt-8"
      *ngIf="getOrder.model"
    >
      <div class="relative">
        <img
          src="../../../../../assets/img/tee/{{ getOrder.model }}.png"
          height="300"
        />
        <!--  -->
        <h2
          class="selectedPattern"
          [ngClass]="getOrder.pattern"
          [ngStyle]="getStyle()"
        >
          {{ getOrder.text }}
        </h2>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="flex justify-content-left align-items-center">
      <div class="block">
        <div class="flex">
          <strong>T-shirt Model:</strong>
          <span>{{ getOrder.model }}</span>
        </div>
        <div class="flex">
          <strong>Pattern:</strong>
          <span>{{ getOrder.pattern }}</span>
        </div>
        <div class="flex">
          <strong>Size:</strong>
          <span>{{ getOrder.size }}</span>
        </div>
        <div class="flex">
          <strong>Print Text:</strong>
          <span>{{ getOrder.text }}</span>
        </div>
        <div class="flex">
          <strong>Space:</strong>
          <span>{{ getOrder.space }}</span>
        </div>
        <div class="flex mt-4">
          <strong>Price</strong>
          <span class="line-through text-xs">1099</span>
          <span class="">799</span>
        </div>
      </div>
    </div>
    <div class="relative">
      <p-button label="Place Order" (click)="placeOrder()"></p-button>
    </div>
  </div>
</div>
<div *ngIf="orderPlaced" class="col-12 md:col-6 order-placed p-5">
  <i class="mb-3 pi pi-check-circle text-2xl text-color-secondary"></i>
  <h6 class="m-0">Thank you</h6>
  <h2 class="m-0">Order Successfully Placed.</h2>
</div>
