<h2 class="grid justify-content-center m-0 mb-4" *ngIf="!orderPlaced">
  Review The Order
</h2>
<div class="container grid wrap bg-wrap" *ngIf="!orderPlaced">
  <div class="col-12 md:col-6">
    <div
      class="flex flex-column justify-content-center align-items-center mt-8"
      *ngIf="getOrder.model"
    >
      <div class="relative">
        <img
          src="../../../../../assets/img/tee/{{ getOrder.model }}.png"
          height="300"
        />
        <!--  -->
        <h2
          class="selectedPattern"
          [ngClass]="getOrder.pattern"
          [ngStyle]="getStyle()"
        >
          {{ getOrder.text }}
        </h2>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 flex align-items-center">
    <div class="flex justify-content-left align-items-center">
      <div class="block">
        <div class="mb-2">
          <span class="txt-color-grey text-sm">T-shirt Model:</span>
          <h5 class="m-0">{{ getOrder.model }}</h5>
        </div>
        <div class="mb-2">
          <span class="txt-color-grey text-sm">Pattern:</span>
          <h5 class="m-0">{{ getOrder.pattern }}</h5>
        </div>
        <div class="mb-2">
          <span class="txt-color-grey text-sm">Size:</span>
          <h5 class="m-0">{{ getOrder.size }}</h5>
        </div>
        <div class="mb-2">
          <span class="txt-color-grey text-sm">Print Text:</span>
          <h5 class="m-0">{{ getOrder.text }}</h5>
        </div>
        <div class="mb-2">
          <span class="txt-color-grey text-sm">Letter Space:</span>
          <h5 class="m-0">{{ getOrder.space }}</h5>
        </div>
        <div class="mt-4">
          <span class="txt-color-grey text-sm">Price:</span>

          <h5 class="m-0">
            <span class="line-through text-xs mr-2">₹1099</span>₹799
          </h5>
        </div>

        <div class="mt-4">
          <span class="txt-color-grey text-sm">Payment Type:</span>
          <h5 class="text-xs m-0">COD (Cash on Delivery)</h5>
        </div>
        <div class="mt-4">
          <span class="txt-color-grey text-sm">Quantity:</span>
          <h5 class="text-xs m-0">
            <p-inputNumber
              [(ngModel)]="quantity"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              [min]="1"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            />
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex mt-4 grid container wrap gap-3" *ngIf="!orderPlaced">
  <button
    pButton
    pRipple
    label="Place Order"
    (click)="placeOrder()"
    class="p-button-success text-center block"
  ></button>
  <p-button
    label="Back"
    [outlined]="true"
    (click)="back()"
    class="mr-2"
  ></p-button>
</div>
<div *ngIf="orderPlaced" class="col-12 md:col-6 order-placed p-5">
  <i class="mb-3 pi pi-check-circle text-2xl text-color-secondary"></i>
  <h6 class="m-0">Thank you</h6>
  <h2 class="m-0">Order Successfully Placed.</h2>
  <p class="m-0">Our sales team will reach you shortly for confirmation.</p>
  <div class="col-12 p-0 text-xs font-bold mt-4">
    <p-button
      label="View Your Orders"
      [outlined]="true"
      (click)="viewOrder()"
    ></p-button>
  </div>
</div>
