<app-header></app-header>

<div class="grid h-full wrap container">
  <div class="col-12 md:col-7 flex align-items-center justify-content-center">
    <div>
      <h4 class="block m-0">mmcraz</h4>
      <h1 class="m-0">Print your design</h1>
    </div>
  </div>
  <div
    class="col-12 md:col-5 h-full p-4"
    style="
      place-items: center;

      justify-content: center;
      align-items: center;
      height: 100vh;
    "
  >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!signUp">
      <div class="field">
        <label for="username">Email</label>
        <input
          type="text"
          class="block w-full"
          pInputText
          id="username"
          formControlName="userName"
        />
      </div>
      <div class="field">
        <label for="password">Password</label>

        <p-password
          id="password"
          class="block w-full"
          formControlName="password"
          [feedback]="false"
        />
      </div>
      <div class="field w-full">
        <button
          pButton
          pRipple
          type="submit"
          [disabled]="loginForm.invalid"
          class="p-button-success w-full text-center mt-5 block"
        >
          Login
        </button>
        <p class="text-center">Or</p>
        <p-button
          label="Sign Up"
          [outlined]="true"
          (click)="signUpFn()"
          class="p-button-secondary w-full text-center mt-5 block"
        ></p-button>
      </div>
    </form>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" *ngIf="signUp">
      <div class="field">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          pInputText
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="field">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText
          id="lastName"
          formControlName="lastName"
        />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="f['email'].errors && (f['email'].dirty || f['email'].touched)"
          class="error-text"
        >
          <!-- <div *ngIf="f['email'].errors.['required']">Email is required</div>
            <div *ngIf="f['email'].errors.['email']">Invalid email format</div> -->
          Invalid Email
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText
          id="password"
          formControlName="password"
        />
      </div>
      <div class="field">
        <label for="cpassword">Confirm Password</label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText
          id="cpassword"
          formControlName="confirmPassword"
        />
      </div>
      <!-- <div class="field">
        <label for="phone">Address 1</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="addressOne">
      </div>
      <div class="field">
        <label for="phone">Address 2</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="addressTwo">
      </div>
      <div class="field">
        <label for="phone">City</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="city">
      </div>
      <div class="field">
        <label for="phone">State</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="state">
      </div>
      <div class="field">
        <label for="phone">Country</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="country">
      </div>
      <div class="field">
        <label for="phone">PIN Code.</label>
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          pInputText id="phone" formControlName="pin">
      </div> -->
      <div class="field">
        <label for="phone">Contact</label>
        <input
          type="tel"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focusborder-primary w-full"
          id="phone"
          formControlName="phone"
        />
        <div
          *ngIf="f['phone'].errors && (f['phone'].dirty || f['phone'].touched)"
          class="error-text"
        >
          <!-- <div *ngIf="f['email'].errors.['required']">Email is required</div>
            <div *ngIf="f['email'].errors.['email']">Invalid email format</div> -->
          Invalid contact number
        </div>
      </div>

      <button
        pButton
        pRipple
        type="submit"
        [disabled]="signUpForm.invalid"
        class="p-button-success w-full text-center mt-5 block"
      >
        SignUp
      </button>
      <p class="text-center">Or</p>
      <p-button
        label="Login"
        [outlined]="true"
        (click)="signUpFn()"
        class="p-button-secondary w-full text-center mt-5 block"
      ></p-button>
    </form>
  </div>
</div>

<p-toast></p-toast>

<app-footer></app-footer>
