<h2 class="grid justify-content-center m-0 mb-4">Your Orders</h2>

<div class="container orderList mt-4 mb-4 wrap bg-wrap">
  <div *ngFor="let order of orderList" class="col-12 grid m-0">
    <div class="col-4 text-center">
      <img
        *ngIf="order.product == 'Hoodies'"
        src="../../../../../assets/img/hoodie/{{ order.pcolor }}.png"
        height="80"
        alt="{{ order.pcolor }}"
      />

      <img
        *ngIf="order.product == 'T-shirt'"
        src="../../../../../assets/img/tee/{{ order.pcolor }}.png"
        height="80"
        alt="{{ order.pcolor }}"
      />
    </div>
    <div class="col-4">
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Product</div>
        <div class="col-12 md:col-6 p-0 text-xs">{{ order.product }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Color</div>
        <div class="col-12 md:col-6 p-0 text-xs">{{ order.pcolor }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Pattern</div>
        <div class="col-12 md:col-9 p-0 text-xs">{{ order.pattern }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Size</div>
        <div class="col-9 p-0 text-xs">{{ order.size }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Text1</div>
        <div class="col-12 md:col-9 p-0 text-xs">{{ order.text1 }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Text2</div>
        <div class="col-12 md:col-9 p-0 text-xs">{{ order.text2 }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Settings</div>
        <div class="col-12 md:col-9 p-0 text-xs">
          {{ order.settings | json }}
        </div>
      </div>
      <div class="col-12 grid">
        <div class="col-12 md:col-3 p-0 text-xs font-bold">Quantity</div>
        <div class="col-12 md:col-9 p-0 text-xs">{{ order.quantity }}</div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 md:col-6 p-0 text-xs font-bold">Ordered On</div>
      <div class="col-12 md:col-6 p-0 text-xs mb-4">{{ order.date }}</div>
      <div class="col-12 md:col-6 p-0 text-xs font-bold">Price</div>
      <div class="col-12 md:col-6 p-0 text-xs mb-4">
        <h2 class="m-0">₹{{ order.price }}</h2>
      </div>

      <div class="col-12 md:col-6 p-0 text-xs font-bold">Delivery Status</div>
      <div class="col-12 md:col-6 p-0 text-xs mb-4">{{ order.status }}</div>
      <div class="flex justify-content-left align-items-center">
        <div
          class="col-12 md:col-6 p-0 text-xs font-bold mt-2"
          *ngIf="order.status !== 'Cancelled'"
        >
          <p-button
            label="Cancel Order"
            [outlined]="true"
            (click)="cancelOrder(order._id)"
          ></p-button>
        </div>
        <i
          class="pi pi-trash text-color-secondary cursor-pointer"
          (click)="removeOrder(order._id)"
        ></i>
      </div>
    </div>
  </div>
</div>
