<div class="container orderList mt-4 mb-4">
  <div *ngFor="let order of orderList" class="col-12 grid">
    <div class="col-4 text-center">
      <img
        src="../../../../../assets/img/tee/{{ order.model }}.png"
        height="80"
      />
    </div>
    <div class="col-4">
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Model</div>
        <div class="col-6 p-0 text-xs">{{ order.model }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Pattern</div>
        <div class="col-9 p-0 text-xs">{{ order.pattern }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Size</div>
        <div class="col-9 p-0 text-xs">{{ order.size }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Text</div>
        <div class="col-9 p-0 text-xs">{{ order.text }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Font size</div>
        <div class="col-9 p-0 text-xs">{{ order.fsize }}</div>
      </div>
      <div class="col-12 grid">
        <div class="col-3 p-0 text-xs font-bold">Space</div>
        <div class="col-9 p-0 text-xs">{{ order.space }}</div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-6 p-0 text-xs font-bold">Ordered On</div>
      <div class="col-6 p-0 text-xs mb-4">22/12/2024</div>
      <div class="col-6 p-0 text-xs font-bold">Price</div>
      <div class="col-6 p-0 text-xs mb-4"><h2 class="m-0">$399</h2></div>

      <div class="col-6 p-0 text-xs font-bold">Delivery</div>
      <div class="col-6 p-0 text-xs">
        <div class="loading animated fadeIn">
          Loading
          <div class="bg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
