footer {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  a {
    font-size: 0.875rem;
    margin-left: 10px;
  }
}
