<div class="container grid wrap">
  <div class="card w-full">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="../../../../../assets/img/tee/green.png"
              shape="circle"
            />
            <span class="font-bold white-space-nowrap m-0 p-white"
              >T-shirts
            </span>
            <p-badge value="{{ tshirts.length }}" />
          </div>
        </ng-template>

        <div class="card grid block">
          <p-carousel
            [value]="tshirts"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
          >
            <ng-template let-product pTemplate="item">
              <div>
                <div class="mb-3">
                  <div class="relative mx-auto">
                    <img
                      src="../../../../../assets/img/ads/{{ product.url }}"
                      [alt]="product.name"
                      class="w-full border-round"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
          <!-- <p-galleria
            [value]="tshirts"
            [responsiveOptions]="responsiveOptions"
            [numVisible]="5"
            [containerStyle]="{ 'max-width': '100%' }"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item.url" style="width: 100%" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.url" width="50px" />
              </div>
            </ng-template>
          </p-galleria> -->
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="../../../../../assets/img/tee/hoodie.jpg"
              shape="circle"
            />
            <span class="font-bold white-space-nowrap m-0 p-white">
              Hoodies
            </span>
            <p-badge value="{{ hoodies.length }}" />
          </div>
        </ng-template>
        <div class="col-12 grid block">
          <p-carousel
            [value]="hoodies"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
          >
            <ng-template let-product pTemplate="item">
              <div>
                <div class="mb-3">
                  <div class="relative mx-auto">
                    <img
                      src="../../../../../assets/img/ads/{{ product.url }}"
                      [alt]="product.name"
                      class="w-full border-round"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="../../../../../assets/img/tee/mug.png"
              shape="circle"
            />
            <span class="font-bold white-space-nowrap m-0 p-white"> Mugs </span>
            <p-badge value="{{ mugs.length }}" />
          </div>
        </ng-template>
        <div class="col-12 grid block">
          <p-carousel
            [value]="mugs"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
          >
            <ng-template let-product pTemplate="item">
              <div>
                <div class="mb-3">
                  <div class="relative mx-auto">
                    <img
                      src="../../../../../assets/img/ads/{{ product.url }}"
                      [alt]="product.name"
                      class="w-full border-round"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
          <!-- <p-galleria
            [value]="mugs"
            [responsiveOptions]="responsiveOptions"
            [numVisible]="5"
            [containerStyle]="{ 'max-width': '100%' }"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item.url" style="width: 100%" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.url" width="50px" />
              </div>
            </ng-template>
          </p-galleria> -->
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
